<a href="https://colab.research.google.com/github/steve122192/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                         object
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
date                    datetime64[ns]
dtype: object

In [0]:
df['date'] = pd.to_datetime(df['created'])

In [0]:
df.head()

   bathrooms  bedrooms  ... common_outdoor_space                date
0        1.5         3  ...                    0 2016-06-24 07:54:24
1        1.0         2  ...                    0 2016-06-12 12:19:27
2        1.0         1  ...                    0 2016-04-17 03:26:41
3        1.0         1  ...                    0 2016-04-18 02:22:02
4        1.0         4  ...                    0 2016-04-28 01:32:41

[5 rows x 35 columns]

In [0]:
test = df[df['date'].dt.month == 6]
test.head()

    bathrooms  bedrooms  ... common_outdoor_space                date
0         1.5         3  ...                    0 2016-06-24 07:54:24
1         1.0         2  ...                    0 2016-06-12 12:19:27
11        1.0         1  ...                    0 2016-06-03 03:21:22
14        1.0         1  ...                    0 2016-06-01 03:11:01
24        2.0         4  ...                    0 2016-06-07 04:39:56

[5 rows x 35 columns]

In [0]:
train = df[df['date'].dt.month != 6]
train.head(20)

In [0]:
train.head()

   bathrooms  bedrooms  ... common_outdoor_space                date
2        1.0         1  ...                    0 2016-04-17 03:26:41
3        1.0         1  ...                    0 2016-04-18 02:22:02
4        1.0         4  ...                    0 2016-04-28 01:32:41
5        2.0         4  ...                    0 2016-04-19 04:24:47
6        1.0         2  ...                    0 2016-04-27 03:19:56

[5 rows x 35 columns]

In [0]:
train['total_perks'] = train.iloc[:, 10:-1].sum(axis=1)
train.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   bathrooms  bedrooms  ...                date total_perks
2        1.0         1  ... 2016-04-17 03:26:41           3
3        1.0         1  ... 2016-04-18 02:22:02           2
4        1.0         4  ... 2016-04-28 01:32:41           1
5        2.0         4  ... 2016-04-19 04:24:47           0
6        1.0         2  ... 2016-04-27 03:19:56           3

[5 rows x 36 columns]

In [0]:
test['total_perks'] = test.iloc[:, 10:-1].sum(axis=1)
test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    bathrooms  bedrooms  ...                date total_perks
0         1.5         3  ... 2016-06-24 07:54:24           0
1         1.0         2  ... 2016-06-12 12:19:27           5
11        1.0         1  ... 2016-06-03 03:21:22           0
14        1.0         1  ... 2016-06-01 03:11:01           3
24        2.0         4  ... 2016-06-07 04:39:56          11

[5 rows x 36 columns]

In [0]:
train['rooms'] = train['bedrooms'] + train['bathrooms']
train.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   bathrooms  bedrooms  ... total_perks rooms
2        1.0         1  ...           3   2.0
3        1.0         1  ...           2   2.0
4        1.0         4  ...           1   5.0
5        2.0         4  ...           0   6.0
6        1.0         2  ...           3   3.0

[5 rows x 37 columns]

In [0]:
test['rooms'] = test['bedrooms'] + test['bathrooms']
test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    bathrooms  bedrooms  ... total_perks rooms
0         1.5         3  ...           0   4.5
1         1.0         2  ...           5   3.0
11        1.0         1  ...           0   2.0
14        1.0         1  ...           3   2.0
24        2.0         4  ...          11   6.0

[5 rows x 37 columns]

In [0]:
target = 'price'
features = ['total_perks','rooms']
X_train = train[features]
y_train = train[target]
X_train.head()

   total_perks  rooms
2            3    2.0
3            2    2.0
4            1    5.0
5            0    6.0
6            3    3.0

In [0]:
y_train.head()

2    2850
3    3275
4    3350
5    7995
6    3600
Name: price, dtype: int64

In [0]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [0]:
from sklearn.metrics import mean_absolute_error
model.fit(X_train,y_train)
predictions = model.predict(X_train)
mae = mean_absolute_error(y_train, predictions)
print('Train Error:')
mae

Train Error:

856.6168448694106

In [0]:
X_test = test[features]
y_test = test[target]
predictions = model.predict(X_test)
mae = mean_absolute_error(y_test, predictions)
print('Test Error:')
mae

Test Error:

867.9967359241992

In [0]:
print(model.coef_)
model.intercept_

[101.76435155 767.95662272]

998.1946341143803